# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_PIANTOR_PRO_BT_DE_LEFT
	bool "Piantor Pro BT DE Left"
	depends on SOC_NRF52840_QIAA

config BOARD_PIANTOR_PRO_BT_DE_RIGHT
    bool "Piantor Pro BT DE Right"
    depends on SOC_NRF52840_QIAA
